<div class="container" ng-controller="LoginCtrl as ctrl">

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> Sign In</h1>
        <br>
        <flash-message
                duration="5000"
                show-close="true"
                on-dismiss="myCallback(flash);"
        ></flash-message>
        <!-- LOGIN FORM -->
        <form name="loginForm" ng-submit="ctrl.login()" novalidate autocomplete="off">
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" ng-model="ctrl.user.email"
                       placeholder="Employee ID or Email address" name="email" required>
                <div class="help-block"
                     ng-show="loginForm.email.$error.required && loginForm.email.$touched">
                    <p class="text-warning">Employee ID or Email Address is mandatory</p>
                </div>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" ng-model="ctrl.user.password"
                       name="password" placeholder="Password" required>
                <div class="help-block"
                     ng-show="loginForm.password.$error.required && loginForm.password.$touched">
                    <p class="text-warning">Password is mandatory</p>
                </div>
            </div>

            <button type="submit" class="btn btn-default btn-lg">Login</button>
        </form>

        <p>Need an account? <a ui-sref="register">Signup</a></p>
        <p>Forgot your password ? <a ui-sref="reset">Reset</a></p>

    </div>

</div>