<!DOCTYPE html>
<html lang="en" ng-app="InventoryApp">
<head>
    <meta charset="UTF-8">
    <title>Inventory Home Page</title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="app/css/dashboard.css">
</head>
<body>
    <div class="page-header">
        <h1>Inventory Managment System <small>IoT brings you a smarter and happier life</small></h1>
    </div>
    <nav class="navbar navbar-default" ng-controller="InventoryCtrl as ctrl">
        <div class="container-fluid" ng-init="ctrl.init()">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <h3><!--<span class="fa fa-cloud">--></span><span class="fa fa-cogs"></span></h3>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inventory <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="active" ng-click="ctrl.homepageClicked()" data-ng-show="ctrl.pageStatus == 1"><a href="#/home">Dashboard<span class="sr-only">(current)</span></a></li>
                            <li ng-click="ctrl.homepageClicked()" data-ng-hide="ctrl.pageStatus == 1"><a href="#/home">Dashboard<span class="sr-only">(current)</span></a></li>
                            <li class="active" ng-click="ctrl.cellpageClicked()" data-ng-show="ctrl.pageStatus == 2"><a href="#/cell">Cell</a></li>
                            <li ng-click="ctrl.cellpageClicked()" data-ng-hide="ctrl.pageStatus == 2"><a href="#/cell">Cell</a></li>
                            <li class="active" ng-click="ctrl.settingpageClicked()" data-ng-show="ctrl.pageStatus == 3"><a href="#/setting" >Settings</a></li>
                            <li ng-click="ctrl.settingpageClicked()" data-ng-hide="ctrl.pageStatus == 3"><a href="#/setting">Settings</a></li>
                            <li><a href="#/import">Import Inventory</a></li>
                            <li><a href="#/export">Export Inventory</a></li>
                        </ul>
                    </li>
                    <li ng-click="ctrl.cellsManagerClicked()" data-ng-hide="ctrl.pageStatus == 6"><a href="#/cellsmanager">Cells Manager</a></li>
                    <li class="active" ng-click="ctrl.cellsManagerClicked()" data-ng-show="ctrl.pageStatus == 6"><a href="#/cellsmanager">Cells Manager</a></li>
                    <li ng-click="ctrl.partsManagerClicked()" data-ng-hide="ctrl.pageStatus == 7"><a href="#/partsmanager">Parts Manager</a></li>
                    <li class="active" ng-click="ctrl.partsManagerClicked()" data-ng-show="ctrl.pageStatus == 7"><a href="#/partsmanager">Parts Manager</a></li>
                </ul>
                <form class="navbar-form navbar-left" data-ng-show="ctrl.pageStatus == null">
                    <div class="form-group">
                        <select ng-model="ctrl.searchGroup" class="form-control">
                            <option ng-repeat="x in ctrl.searchGroupList" value="{{x.id}}">{{x.name}}</option></select>
                        <input id="searchKey" class="form-control" type="text" name="searchKey" ng-model = "ctrl.searchKey"
                               placeholder="Key word">
                        <button type="submit" class="btn btn-default form-control" ng-click="ctrl.submit()">
                            Search
                        </button>
                    </div>
                </form>
                <form name = "eidtForm" novalidate class="form-inline" ng-submit="editForm.$valid && ctrl.submit()" data-ng-show="ctrl.pageStatus == null">
                    <div class="form-group">
                        <label for="dateStart">Date of Start:</label>
                        <input id="dateStart"
                               class="form-control"
                               name="dateStart"
                               type="date"
                               required
                               ng-model="ctrl.dateStart"/>
                        <label for="dateEnd">Date of End:</label>
                        <input id="dateEnd"
                               class="form-control"
                               name="dateEnd"
                               type="date"
                               required
                               ng-model="ctrl.dateEnd"/>
                        <button type="submit" class="btn btn-info form-control">
                            View
                        </button>

                        <div class="validation" data-ng-show="editForm.dateStart.$touched || editForm.$submitted">
                            <div data-ng-show="editForm.dateStart.$error.required || editForm.dateEnd.$error.required">
                                <span class="glyphicon glyphicon-alert"></span>
                                Date of Start and End is required.
                            </div>
                            <div data-ng-show="editForm.dateStart.$invalid || editForm.dateEnd.$invalid">
                                <span class="glyphicon glyphicon-alert"></span>
                                Invalid Date.
                            </div>
                        </div>
                    </div>
                    <div class="validation" ng-show = "ctrl.inputInvalid">
                        <span class="glyphicon glyphicon-alert"></span>
                        {{ctrl.status.message}}
                    </div>
                </form>

                <ul class="nav navbar-nav navbar-right">
                    <li data-ng-show="ctrl.email"><a>{{ctrl.mail}}</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Users <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li data-ng-hide="ctrl.isUserLogon"><a href="#/login">Login <span class="fa fa-sign-in"></span></a></li>
                            <li data-ng-show="ctrl.isUserLogon"><a ng-clck="ctrl.logout()">Profile</a></li>
                            <li><a ng-click="ctrl.logout()">Logout <span class="fa fa-sign-out"></span></a></li>
                            <li data-ng-show="ctrl.isAdmin"><a ng-click="ctrl.logout()">Show Users</a></li>
                            <li><a href="#/register">SignUp <span class="fa fa-user-plus"></span></a></li>
                        </ul>
                    </li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="tab-content" ui-view="inventory"></div>
    <!--<div class="tab-content" ui-view="login" data-ng-hide="ctrl.isUserLogon"></div>-->
</body>
<!-- BOWER_COMPONENTS_JS -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular-flash-alert/dist/angular-flash.min.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="http://code.highcharts.com/highcharts.src.js"></script>
<script src="bower_components/highcharts-ng/dist/highcharts-ng.min.js"></script>
<!-- user JS -->
<script src="app/app.js"></script>
<script src="app/app.config.js"></script>
<script src="app/js/inventory.controller.js"></script>
<script src="app/js/auth-factory.js"></script>
<script src="app/users/users-register.controller.js"></script>
<!--<script src="app/users/users-logout.controller.js"></script>-->
<script src="app/users/users-login.controller.js"></script>
<script src="app/js/dashboard.controller.js"></script>
<script src="app/js/cell.controller.js"></script>
<script src="app/js/setting.controller.js"></script>
<script src="app/js/services/inventory.service.js"></script>
<script src="app/js/cellsmanager.controller.js"></script>
<script src="app/js/partsmanager.controller.js"></script>
</html>