<div class ="col-sm-12" ng-controller="PartsManagerCtrl as ctrl">
    <div ng-init="ctrl.pm_init()">
    <div data-ng-show="ctrl.isUserLogon">
    <form name = "searchForm" class="form-inline" ng-submit="searchForm.$valid && ctrl.submit()" data-ng-hide="ctrl.editEn || ctrl.addEn" novalidate="">
        <div class="form-group">
            <table>
                <tr>
                    <td>
                        <select ng-model="ctrl.searchGroup" class="form-control">
                            <option ng-repeat="x in ctrl.searchGroupList" value="{{x.id}}">{{x.name}}</option></select>
                        <input id="searchKey" class="form-control" type="text" name="searchKey" ng-model = "ctrl.searchKey"
                               placeholder="Key word">
                        <button type="submit" class="btn btn-info form-control">
                            Search
                        </button>
                        <button class="btn btn-info form-control" ng-click="ctrl.pm_addPartEn()">
                            Add Part
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="validation" ng-show = "ctrl.inputInvalid">
            <span class="glyphicon glyphicon-alert"></span>
            {{ctrl.status.message}}
        </div>
    </form>

        <div data-ng-hide="ctrl.editEn || ctrl.addEn">
            <table class="table cells-manager-list">
                <tr>
                    <th>Part ID</th>
                    <th>Part#</th>
                    <th>Part Name</th>
                    <th>MFC Part#</th>
                    <th>Unit</th>
                    <th>Unit Price(SGD)</th>
                    <th>Unit Weight(Kg)</th>
                    <th>Vendor ID</th>
                    <th>Vendor Part Number</th>
                    <th>Purchaser ID</th>
                    <th>Edit</th>
                </tr>
                <tr ng-repeat="part in ctrl.parts">
                    <td>{{part.id}}</td>
                    <td>{{part.part_number}}</td>
                    <td>{{part.part_name}}</td>
                    <td>{{part.mfc_part_number}}</td>
                    <td>{{part.unit}}</td>
                    <td>{{part.unit_price}}</td>
                    <td>{{part.unit_weight}}</td>
                    <td>{{part.vendor_id}}</td>
                    <td>{{part.vendor_part_number}}</td>
                    <td>{{part.purchaser_id}}</td>
                    <td><i class="fa fa-pencil" style="font-size:24px;color:green" ng-click="ctrl.pm_editPart(part.id)"></i></td>
                </tr>
            </table>
        </div>
        <br>
        <form name = "eidtForm" class="form-inline" data-ng-show="ctrl.editEn || ctrl.addEn" novalidate="">
            <div class="form-group" data-ng-show="ctrl.editEn">
                <button type="submit" class="btn btn-info form-control" ng-click="ctrl.pm_update()">
                    Update Part
                </button>
                <button type="button" class="btn btn-info form-control" ng-click="ctrl.pm_cancel()">
                    Cancel
                </button>
                <div data-ng-show="ctrl.confirmUpdate">
                    <h3 class="text-danger">Do you confirm to update?</h3>
                    <button type="button" class="btn btn-danger form-control" ng-click="ctrl.pm_updateSubmit()">
                        Yes
                    </button>
                    <button type="button" class="btn btn-info form-control" ng-click="ctrl.pm_confirmNo()">
                        No
                    </button>
                </div>
            </div>
            <div class="form-group" data-ng-show="ctrl.addEn">
                <button type="submit" class="btn btn-info form-control" ng-click="ctrl.pm_addPart()">
                    Add
                </button>
                <button type="button" class="btn btn-info form-control" ng-click="ctrl.pm_cancel()">
                    Cancel
                </button>
            </div>
            <br>
            <table class="col-sm-12 part-edit-table">
                <tr data-ng-hide="ctrl.addEn">
                    <td class="col-sm-2 part-label"><label for="partid">Part ID</label></td>
                    <td class="col-sm-10"><input class="form-control" id="partid" type="text" ng-model="ctrl.part.id" placeholder="{{ctrl.part.id}}" style="width: 500px;"></td>
                </tr>
                <tr>
                    <td class="col-sm-2 part-label"><label for="partno">Part Number</label></td>
                    <td class="col-sm-10"><input class="form-control" id="partno" type="text" ng-model="ctrl.part.part_number" placeholder="{{ctrl.part.part_number}}" style="width: 500px;"></td>
                </tr>
                <tr>
                    <td class="col-sm-1 part-label"><label for="partname">Part Name</label></td>
                    <td class="col-sm-10"><input class="form-control" id="partname" type="text" ng-model="ctrl.part.part_name" placeholder="{{ctrl.part.part_name}}" style="width: 500px;"></td>
                </tr>
                <tr>
                    <td class="col-sm-2  part-label"><label for="mfcpartno">MFC Part Number</label></td>
                    <td class="col-sm-10"><input class="form-control" id="mfcpartno" type="text" ng-model="ctrl.part.mfc_part_number" placeholder="{{ctrl.part.mfc_part_number}}" style="width: 500px;"></td>
                </tr>
                <tr>
                    <td class="col-sm-2 part-label"><label for="partunit">Unit</label></td>
                    <td class="col-sm-10"><input class="form-control" id="partunit" type="text" ng-model="ctrl.part.unit" placeholder="{{ctrl.part.unit}}" style="width: 500px;"></td>
                </tr>
                <tr>
                    <td class="col-sm-2 part-label"><label for="partprice">Unit Price(SGD)</label></td>
                    <td class="col-sm-10"><input class="form-control" id="partprice" type="text" ng-model="ctrl.part.unit_price" placeholder="{{ctrl.part.unit_price}}" style="width: 500px;"></td>
                </tr>
                <tr>
                    <td class="col-sm-2 part-label"><label for="partweight">Unit Weight(Kg)</label></td>
                    <td class="col-sm-10"><input class="form-control" id="partweight" type="text" ng-model="ctrl.part.unit_weight" placeholder="{{ctrl.part.unit_weight}}" style="width: 500px;"></td>
                </tr>
                <tr>
                    <td class="col-sm-2 part-label"><label for="vendorid">Vendor ID</label></td>
                    <td class="col-sm-10"><input class="form-control" id="vendorid" type="text" ng-model="ctrl.part.vendor_id" placeholder="{{ctrl.part.vendor_id}}" style="width: 500px;"></td>
                </tr>
                <tr>
                    <td class="col-sm-2 part-label"><label for="vendorpartno">Vendor Part Number</label></td>
                    <td class="col-sm-10"><input class="form-control" id="vendorpartno" type="text" ng-model="ctrl.part.vendor_part_number" placeholder="{{ctrl.part.vendor_part_number}}" style="width: 500px;"></td>
                </tr>
                <tr>
                    <td class="col-sm-2 part-label"><label for="purchaserid">Purchaser ID</label></td>
                    <td class="col-sm-10"><input class="form-control" id="purchaserid" type="text" ng-model="ctrl.part.purchaser_id" placeholder="{{ctrl.part.purchaser_id}}" style="width: 500px;"></td>
                </tr>
            </table>
    </form>
    </div>
    </div>
</div>