<div class ="col-sm-12" ng-controller="CellsManagerCtrl as ctrl" data-ng-show="ctrl.isUserLogon">
    <form name = "eidtForm" novalidate class="form-inline" ng-init="ctrl.cm_init()">
        <div class="form-group">
            <div data-ng-hide="ctrl.editEn">
                <button type="button" class="btn btn-info form-control" ng-click="ctrl.cm_reload()">
                    Reload
                </button>
                <button type="button" class="btn btn-info form-control" ng-click="ctrl.cm_edit()">
                    Edit
                </button>
                <button type="button" class="btn btn-info form-control" ng-click="ctrl.cm_add()">
                    Add
                </button>
            </div>
            <div data-ng-show="ctrl.editEn">
                <button type="submit" class="btn btn-info form-control" ng-click="ctrl.cm_bulkUpdate()" data-ng-hide="1">
                    Update All Cells
                </button>
                <button type="submit" class="btn btn-info form-control" ng-click="ctrl.cm_addWeight()">
                    Add Weight
                </button>
                <button type="button" class="btn btn-info form-control" ng-click="ctrl.cm_cancel()">
                    Cancel
                </button>
                <div class="validation" ng-show = "ctrl.inputInvalid">
                    <span class="glyphicon glyphicon-alert"></span>
                    {{ctrl.status.message}}
                </div>
            </div>
            <div data-ng-show="ctrl.confirmUpdate">
                <h3 class="text-danger">Do you confirm to update?</h3>
                <button type="button" class="btn btn-danger form-control" ng-click="ctrl.cm_submit()">
                    Yes
                </button>
                <button type="button" class="btn btn-info form-control" ng-click="ctrl.cm_confirmNo()">
                    No
                </button>
                <div class="validation" ng-show = "ctrl.inputInvalid">
                    <span class="glyphicon glyphicon-alert"></span>
                    {{ctrl.status.message}}
                </div>
            </div>
            <div data-ng-hide="ctrl.editEn">
            <table class="table cells-manager-list">
                <tr>
                    <th>Node</th>
                    <th>Properties</th>
                    <!--<th>1</th>-->
                    <!--<th>2</th>-->
                    <!--<th>3</th><th>4</th><th>5</th><th>6</th><th>7</th><th>8</th><th>9</th><th>10</th>-->
                </tr>
                <tr>
                    <td>A01</td>
                    <td>
                    <table class="table">
                        <tr>
                            <td>ID</td>
                            <td ng-repeat="cell in ctrl.node[0]">{{cell.id}}</td>
                        </tr>
                        <tr>
                            <td>Cell Address</td>
                            <td ng-repeat="cell in ctrl.node[0]">{{cell.cell_address}}</td>
                        </tr>
                        <tr>
                            <td>Part ID</td>
                            <td ng-repeat="cell in ctrl.node[0]">{{cell.part_id}}</td>
                        </tr>
                        <tr>
                            <td>Full Weight(Kg)</td>
                            <td ng-repeat="cell in ctrl.node[0]">{{cell.full_weight}}</td>
                        </tr>
                        <tr>
                            <td>Min Weight(Kg)</td>
                            <td ng-repeat="cell in ctrl.node[0]">{{cell.min_weight}}</td>
                        </tr>
                        <tr>
                            <td>Alarm Weight(Kg)</td>
                            <td ng-repeat="cell in ctrl.node[0]">{{cell.alarm_weight}}</td>
                        </tr>
                        <tr>
                            <td>Weight(Kg)</td>
                            <td ng-repeat="cell in ctrl.node[0]">{{cell.weight}}</td>
                        </tr>
                    </table>
                    </td>
                </tr>
            </table>
            <table class="table cells-manager-list">
                <tr>
                    <td>B01</td>
                    <td>
                    <table class="table">
                        <tr>
                            <td>ID</td>
                            <td ng-repeat="cell in ctrl.node[1]">{{cell.id}}</td>
                        </tr>
                        <tr>
                            <td>Cell Address</td>
                            <td ng-repeat="cell in ctrl.node[1]">{{cell.cell_address}}</td>
                        </tr>
                        <tr>
                            <td>Part ID</td>
                            <td ng-repeat="cell in ctrl.node[1]">{{cell.part_id}}</td>
                        </tr>
                        <tr>
                            <td>Full Weight(Kg)</td>
                            <td ng-repeat="cell in ctrl.node[1]">{{cell.full_weight}}</td>
                        </tr>
                        <tr>
                            <td>Min Weight(Kg)</td>
                            <td ng-repeat="cell in ctrl.node[1]">{{cell.min_weight}}</td>
                        </tr>
                        <tr>
                            <td>Alarm Weight(Kg)</td>
                            <td ng-repeat="cell in ctrl.node[1]">{{cell.alarm_weight}}</td>
                        </tr>
                        <tr>
                            <td>Weight(Kg)</td>
                            <td ng-repeat="cell in ctrl.node[1]">{{cell.weight}}</td>
                        </tr>
                    </table>
                    </td>
                </tr>
            </table>
            </div>
            <div data-ng-show="ctrl.editEn">
                <table class="table cells-manager-list">
                    <tr>
                        <th>Node</th>
                        <th>Properties</th>
                        <!--<th>1</th><th>2</th><th>3</th><th>4</th><th>5</th><th>6</th><th>7</th><th>8</th><th>9</th><th>10</th>-->
                    </tr>
                    <tr>
                        <td>A01</td>
                        <td>
                            <table class="table">
                                <tr>
                                    <td>Cell ID</td>
                                    <td ng-repeat="cell in ctrl.node[0]">{{cell.id}}</td>
                                </tr>
                                <tr>
                                    <td>Cell Address</td>
                                    <td ng-repeat="cell in ctrl.node[0]">
                                        <input class="text" ng-model="cell.cell_address">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Part ID</td>
                                    <td ng-repeat="cell in ctrl.node[0]">
                                        <input class="text" ng-model="cell.part_id">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Full Weight(Kg)</td>
                                    <td ng-repeat="cell in ctrl.node[0]">
                                        <input class="text" ng-model="cell.full_weight">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Min Weight(Kg)</td>
                                    <td ng-repeat="cell in ctrl.node[0]">
                                        <input class="text" ng-model="cell.min_weight">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Alarm Weight(Kg)</td>
                                    <td ng-repeat="cell in ctrl.node[0]">
                                        <input class="text" ng-model="cell.alarm_weight">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Weight(Kg)</td>
                                    <td ng-repeat="cell in ctrl.node[0]">
                                        <input class="text" ng-model="cell.weight">
                                    </td>
                                </tr>
                                <tr data-ng-hide="ctrl.updateCellEn">
                                    <td>Update</td>
                                    <td ng-repeat="cell in ctrl.node[0]">
                                        <i class="fa fa-save" style="font-size:24px;color:green" ng-click="ctrl.cm_confirmUpdateCell(cell)"></i>
                                    </td>
                                </tr>
                                <tr data-ng-show="ctrl.updateCellEn">
                                    <td colspan="11">
                                        <h3 class="text-danger">Do you confirm to update cell?</h3>
                                        <button type="button" class="btn btn-danger form-control" ng-click="ctrl.cm_updateCell()">
                                            Yes
                                        </button>
                                        <button type="button" class="btn btn-info form-control" ng-click="ctrl.cm_confirmNo()">
                                            No
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table class="table cells-manager-list">
                    <tr>
                        <td>B01</td>
                        <td>
                            <table class="table">
                                <tr>
                                    <td>Cell ID</td>
                                    <td ng-repeat="cell in ctrl.node[1]">{{cell.id}}</td>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Cell Address</td>
                                    <td ng-repeat="cell in ctrl.node[1]">
                                        <input class="text" ng-model="cell.cell_address">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Part ID</td>
                                    <td ng-repeat="cell in ctrl.node[1]">
                                        <input class="text" ng-model="cell.part_id">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Full Weight(Kg)</td>
                                    <td ng-repeat="cell in ctrl.node[1]">
                                        <input class="text" ng-model="cell.full_weight">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Min Weight(Kg)</td>
                                    <td ng-repeat="cell in ctrl.node[1]">
                                        <input class="text" ng-model="cell.min_weight">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Alarm Weight(Kg)</td>
                                    <td ng-repeat="cell in ctrl.node[1]">
                                        <input class="text" ng-model="cell.alarm_weight">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Weight(Kg)</td>
                                    <td ng-repeat="cell in ctrl.node[1]">
                                        <input class="text" ng-model="cell.weight">
                                    </td>
                                </tr>
                                <tr data-ng-hide="ctrl.updateCellEn">
                                    <td>Update</td>
                                    <td ng-repeat="cell in ctrl.node[1]">
                                        <i class="fa fa-save" style="font-size:24px;color:green" ng-click="ctrl.cm_confirmUpdateCell(cell)"></i>
                                    </td>
                                </tr>
                                <tr data-ng-show="ctrl.updateCellEn">
                                    <td colspan="11">
                                        <h3 class="text-danger">Do you confirm to update cell?</h3>
                                        <button type="button" class="btn btn-danger form-control" ng-click="ctrl.cm_updateCell()">
                                            Yes
                                        </button>
                                        <button type="button" class="btn btn-info form-control" ng-click="ctrl.cm_confirmNo()">
                                            No
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>

</div>